<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue test two </title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<div id=app>
  
  <h1>
    {{pageTitle}}
  </h1>
  
    <h2>
    {{pageSubTitle}}
  </h2>
  
  <ul>
    <li v-for="(data,index) in barData" v-bind:style="{color: data.color}">{{data.label}} is {{data.value}} at position {{index}}</li>
  </ul>
  
  <svg 
  :width="chartWidth"
  :height="chartHeight">
    

    <rect 
    v-for="(bar,index) in barData" 
    width="10" 
    v-bind:height="bar.value*step" 
    v-bind:x="index*20"
    v-bind:y="300-bar.value*step"
    v-bind:fill="bar.color"
    />
      
      
      
      
      
      
  </svg>
  
  
  
 <!-- //if statement:-->
 <!--// v-if-->
  
  
  
  
  
  
  
  
  
</div> 
 
 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>

</body>

</html>
